<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CyxbsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- db configuration -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="cyxbs.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".presenter.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/APPTheme.StartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/APPTheme.Login" />

        <activity
            android:name=".presenter.activity.HomeActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>
